<div class="col-lg-12">

	<div class="alert alert-success">Feedback Database</div>

	<table class="table">
		<tr>
			<th> ID </th>
			<th> Professor </th>
			<th> Subject </th>
			<th> Description</th>
			<th> Communication</th>
			<th> Expression</th>
			<th> Availability</th>
			<th> Respect</th>
			<th> Stimulation</th>
			<th> Facilitation</th>
			<th> Enthusiasm</th>
			<th> Encouragemnt</th>
			<th> Overall</th>
		</tr>

		<% _.each(feedbacks, function(feedback) { %>
			<tr data-id="<%= feedback.id %>" data-model="feedback">
				<td><%= feedback.id %></td>
				<td>Devashish Das Gupta</td>
				<td>Marketing Management</td>
				<td><%= feedback.description %></td>
				<td><%= feedback.communication %></td>
				<td><%= feedback.expression %></td>
				<td><%= feedback.availability %></td>
				<td><%= feedback.respect %></td>
				<td><%= feedback.stimulation %></td>
				<td><%= feedback.facilitation %></td>
				<td><%= feedback.enthusiasm %></td>
				<td><%= feedback.encouragemnt %></td>
				<td><%= feedback.overall %></td>
			</tr>
		<% }) %>
	</table>
</div>